
/*tablet*/
/*navbav*/
@media (min-width: 768px) and (max-width: 1024px) {

    #navbar a{
    font-size: 12px;
    text-align: center;
    padding: 10px 15px;
  }
   /*thông tin cá nhân*/
   #target, #personal-info{
     font-size: 13px;
   }
   .thongtin p{
     font-size: 13px;
     
   }
   /*thông tin nghề nghiệp*/
   .thongtinnghenghiep h4{
     font-size: 15px;
    
   }
   .thongtinnghenghiep p{
     font-size: 13px;
   }
   /*chứng chỉ*/
   
   .chungchi h3{
     font-size: 15px;
   }
   .chungchi p{
     font-size: 12px;
   }
   .chungchicon{
     display: flex;
     flex-direction: column;
    
   }
   /*dự án*/
   
   #duan p, td{
     font-size: 12px;
   }
   #duan h3{
     font-size: 15px;
   }
   .btn{
     display: grid;
     grid-template-rows: 1fr 1fr;
   grid-template-columns: 30% 70%;
   }
   
   #duan .dvl2{
     grid-column: 2/3;
   
   }
   .btn span{
    padding: 5px 8px;
   }
   /*footer*/
   .footer li{
     font-size: 15px;
   }
   .footer i{
     font-size: 25px;
   }
   }
   